@font-face {
    font-family: 'Biko Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Biko Regular'), url('../src/fonts/biko/Biko_Regular.otf') format('opentype');
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: show;
}

.content{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: show;
}

.local {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-y: show;
}

.imagem {
    min-height: 300px;
    min-width: 320px;
    border-radius: 10px;
}

.detalhes {
    width: 400px;
    height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #333; 
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    padding: 10px;
}

.avaliacoes{
    width: 730px;
    height: 150px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #333; 
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.avaliacao_usuario{
    margin: 0px;
}

.info_comentario{
    display: flex;
    gap: 10px;  
    align-items: center;
}

.descricao{
    margin: 0px;
    padding: 0px;
}

.usuario{
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar{
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 100%; 
}

#avaliar{
    width: 100px;
    height: 30px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.secao_guias{
    height: 150px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #333; 
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.info_comentario{
    margin-bottom: 10px;
}


@media screen and (max-width: 800px){
    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .local{
        flex-direction: column;
    }
    .imagem{
        min-width: 100%;
    }
    .detalhes{
        width: 100%;
    }
    .avaliacoes{
        width: 100%;
    }
    
}