@font-face {
    font-family: 'Biko Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Biko Regular'), url('../src/fonts/biko/Biko_Regular.otf') format('opentype');
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: show;
    position: relative;
}

aside{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 70%;
    left: 0;
}

.content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .local {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-y: show;
}

.nome{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 400px;
}

.local > img  {
    min-height: 300px;
    min-width: 320px;
    border-radius: 10px;
}

.info_local {
    .detalhes{
        width: 400px;
        height: 175px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 #333; 
        background-color: antiquewhite;
        padding: 10px;
        border-radius: 10px;
    }
}

.infos_local{
    gap: 50px;
    
    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: #333;
        text-decoration: underline;
    }
}

.avaliacoes{
    width: 730px;
    height: 150px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #333; 
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
}

/* Estilização das informações do usuário e comentário */
.info_comentario{
    display: flex;
    gap: 10px;  
    align-items: center;

    .avatar{
        width: 30px;
        height: 30px;
        background-color: #333;
        border-radius: 100%; 
    }
}

.info_comentario a{
    text-decoration: none;
    color: #333;
    font-weight: bold;

    &:hover{
        text-decoration: underline;
    }
}

.descricao{
    .usuario{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

#avaliar{
    width: 100px;
    height: 30px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.secao_guias{
    height: 150px;
    width: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #333; 
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.info_comentario{
    margin-bottom: 10px;
}
