.entrar{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    
}

div .e-mail, .senha{
    margin-bottom: 10px;
}

label{
    margin-bottom: 5px;
    display: block;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.entrar a{
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: none;
}

.entrar a:hover{
    text-decoration: underline;
}

.login button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.login button:hover{
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.registrar{
    text-align: center;
    margin-top: 20px;
}
p{
    font-size: 1.0rem;
    color: gray;
}
