main{
    display: flex;
    align-items: baseline;
}

.container-usuarios{
    display: flex;
    gap: 30px;
    padding: 20px;
    width: 100%;
}


.usuarios {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
}

.perfil, .categoria, .avaliacoes {
    flex: 1; 
    text-align: center;
}

.perfil img {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px; 
}